<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USECS Fashion</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap">
    <link rel="stylesheet" th:href="@{/css/HomeStyle.css}">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="USECS Fashion Logo">
        </div>
        <div class="icones-direita">
            <a href="/login"><div class="login-icon" ><img th:src="@{/images/icons8-user-50.png}" alt="Ícone de Usuário"></div></a>
            <a href="/cart"><div class="cart-icon"><img th:src="@{/images/carrinho.png}" alt="Ícone de Carrinho"></div></a>
        </div>
    </header>

    <!-- Menu Expansivo -->
    <div class="menu-expansivo" id="menuExpansivo">
        <div class="fechar-menu" onclick="toggleMenu()">&times;</div>
        <a href="#">Vestidos</a>
        <a href="#">Blusas</a>
        <a href="#">Calças</a>
        <a href="#">Acessórios</a>
        <a href="#">Promoções</a>
    </div>

    <!-- Hero Section -->
    <section class="hero">
        <div>
<!--        <h1>Coleção Outono/Inverno 2023</h1>
        
            <button>Compre Agora</button> -->
        </div>
    </section>

    <!-- Seção de Produtos -->
    <section class="produtos">
        <h2>Nossos Produtos</h2>
        <div class="produtos-container">
    <div class="produto" th:each="product : ${products}">
        <a th:href="@{/products/{id}(id=${product.id})}">
        <img th:src="${product.imageUrl}" alt="Imagem do Produto"> 
        </a>
        <h3 th:text="${product.name}"></h3>
        <p th:text="'R$ ' + ${#numbers.formatDecimal(product.price, 1, 2)}"></p>
    </div>
</div>
    </section>
    

    <script>
        // Função para abrir/fechar o menu expansivo
        function toggleMenu() {
            const menu = document.getElementById('menuExpansivo');
            menu.classList.toggle('active');
        }
    </script>
</body>

</html>