<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Loja</title>
    <link rel="stylesheet" th:href="@{/css/LoginStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <!-- Logo -->
        <div class="logo"></div>


        <h1>Cadastre-se</h1>

        <form th:action="@{/register}" method="post">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Registrar</button>
        </form>
        


        <!-- Link para Cadastro -->
        <div class="signup-link">
            Já tem uma conta? <a th:href="@{/login}">Login</a>
        </div>
    </div>
</body>

</html>